body {background-color: #100808; font-family: 'Ubuntu Mono', sans-serif; font-weight: 700; }
p {color: #989496;}
h1 {font-family: inherit; color: #cec9c9; font-weight: 700; line-height: .5em;}
h2 {font-family: inherit; color: #cec9c9; font-weight: 700; line-height: .75em;}
h3 {font-family: inherit; color: #cec9c9; font-weight: 700; line-height: .5em; }
h4 {font-family: inherit; color: #cec9c9; font-weight: 700;}
h5 {font-family: inherit; color: #cec9c9; font-weight: 700}

.social {background-color: orange; }

.inline-list { width: 100%; margin-left: auto; margin-right: auto; }


.my-blurb { display: inline; }
.dont-squish-me {padding-top: 1em;}
.section-divider { height: 40em; display: table; margin: 0 auto; text-align: center; display:table; width: 100%;}
.section-divider .content { display:table-cell; vertical-align:middle; }
.section-divider .hello { background-image:url('/img/big-bird-dark.png'); background-repeat:no-repeat; background-position:center; }
.section-divider .hello h1 {padding-top: 6em; }
.section-divider .hello:hover{ background-image:url('/img/big-bird-dark-outlined.png'); background-repeat:no-repeat; background-position:center; }
.section-divider .little {height: 10em;}
.section-divider .medium {height: 15em;}
.section-divider .big-boy {height: 30em;}

.fixed-left-nav { width: inherit;  padding-left:1em; background-color: white; height: 100%; }
.fixed-left-nav h2 {color: #091512;}
.fixed-left-nav ul li a { text-decoration: none !important; color: #091512; }
.fixed-left-nav p {font-size: 1em; padding-top:1em; color: black; }
.fixed-left-nav a:hover {background-color:yellow;}

.resume {font-family: 'Ubuntu Mono', sans-serif;} display:table;
.resume .moreless {float:right; font-weight: 700; color: #008cba;}
.resume .job-details {display: none;}
.resume .job:hover{background-color: black;}

/* http://alwaystwisted.com/post.php?s=2012-04-28-a-common-set-of-breakpoints-to-start */


/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width :20em) {
	.lil-bit-o-padding { padding: .5em; }
	.fixed-left-nav ul li a {font-size: 1em; }
	.resume .moreless { font-size: 1em; }
	.my-blurb { display: inline; }
}

/* ===== == = === 40em (640px) === = == ===== */

@media only screen and (min-width :40em) {
	.lil-bit-o-padding { padding: .5em; }
	.fixed-left-nav ul li a {font-size: 1em; }
	.resume .moreless { font-size: 1em; }
	.my-blurb { display: inline; }
}

/* ===== == = === 40.063em (641px) === = == ===== */

@media only screen and (min-width : 40.063em) {
	.lil-bit-o-padding { padding: .75em; }
	.fixed-left-nav ul li a {font-size: 2em; }
	.resume .moreless { font-size: 1em; }
	.my-blurb { display: inline; }
}

/* ===== == = === 64.063em (1025px) === = == ===== */

@media only screen and (min-width: 64.063em) {
	.lil-bit-o-padding { padding: .75em; }
	.fixed-left-nav{ position:fixed; }
	.fixed-left-nav ul li a {font-size: 1.5em; }
	.resume .moreless { font-size: 1.25em; }
	.my-blurb { display: none; }
}

/* ===== == = ===  90.063em (1441px) === = == ===== */

@media only screen and (min-width : 90.063em) {
	.fixed-left-nav{ position:fixed; }
	.lil-bit-o-padding { padding: 1em; }
	.fixed-left-nav ul li a {font-size: 2.5em; }
	.resume .moreless { font-size: 1.25em; color: #008cba; float: right; }
	.my-blurb { display: inline; }
}

/* ===== == = === 120.063em (1921px) === = == ===== */

@media only screen and (min-width : 120.063em) {
	.fixed-left-nav{ position:fixed; }
	.lil-bit-o-padding { padding: 1.5em; }
	.fixed-left-nav ul li a {font-size: 2.5em; }
	.resume .moreless { font-size: 1.5em;  }
	.my-blurb { display: inline; }
}
