<!doctype html>
<html class="no-js" lang="en" ng-app="masscoderApp">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mike Delano - Programmer Web Developer</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-animate.min.js"></script>
		<script src="js/controllers/controllers.js"></script>
		<script src="js/vendor/modernizr.js"></script>

	</head>
	<body ng-controller="MasscoderController">
		<div class="row">
			<div class="large-3 columns">
				<div class="fixed-left-nav lil-bit-o-padding">
					<h2>{{masscoder.profile.name}}<small> {{masscoder.profile.whatIDo}}</small></h2>
					<img data-interchange="[img/mypic-med.JPG, (default)], [img/mypic-large.JPG, (large)], [img/mypic-small.JPG, (small)]"> 
					<div class="my-blurb"><p>{{masscoder.profile.blurb}}</p></div>
					<ul class="no-bullet">
						<li><a href="#aboutme">About Me</a></li>
						<li class="tree-menu"><a href="#resume">Work History</a></li>
						<li class="tree-menu"><a href="#learning">Learning</a></li>
					</ul>
					<div class="social">
					<ul class="inline-list">
						<li><a href="http://www.linkedin.com/pub/michael-delano/b/812/2?trk=shareTw"><img data-interchange="[img/glyph/linkedin-large.png, (default)], [img/glyph/linkedin-large.png, (large)], [img/glyph/linkedin-medium.png, (small)]"> </a></li>
						<li><a href="https://www.facebook.com/michaelbdelano"><img data-interchange="[img/glyph/facebook-large.png, (default)], [img/glyph/facebook-large.png, (large)], [img/glyph/facebook-medium.png, (small)]"></a></li>
						<li><a href="https://twitter.com/mbdelano"><img data-interchange="[img/glyph/twitter-large.png, (default)], [img/glyph/twitter-large.png, (large)], [img/glyph/twitter-medium.png, (small)]"></a></li>
						<li><a href="https://plus.google.com/u/0/109785372437718516628/posts"><img data-interchange="[img/glyph/google_plus-large.png, (default)], [img/glyph/google_plus-large.png, (large)], [img/glyph/google_plus-medium.png, (small)]"></a></li>
					</ul>
						
					</div>
				</div>
			</div>	
			
			<div class="large-9 columns main-content">
			<div class="section-divider">

				<div class="content">
					<div class="hello"><a href="#aboutme"><h1>Hello :)</h1>
					<p>I'm Mike. There's all kinds of stuff about me below.</p></a></div>
				</div>
			</div>
			<div class="section-divider"></div>
			<a id="aboutme"></a>
			<div class="lil-bit-o-padding aboutme">
				<h1>{{masscoder.aboutMe.title}}</h1>
				<div class="lil-bit-o-padding" ng-repeat="category in masscoder.aboutMe.categories">
					<h3>{{category.title}}</h3>
					<p>{{category.text}}</p>
					<div ng-repeat="subcategory in category.categories">
						<h5>{{subcategory.title}}</h5>
						<p>{{subcategory.text}}</p>
					</div>
				</div>
			</div>
			<div class="section-divider big-boy">
				<img data-interchange="[img/bird-2.png, (default)], [img/bird-2.png, (large)], [img/bird-2.png, (small)]">
			</div>
			<a id="resume"></a>
				<div class="lil-bit-o-padding resume">
					
					<h1>Work History</h1>
					<div ng-repeat="job in masscoder.workHistory.jobs">
						<div class="job lil-bit-o-padding" ng-click=toggleVisibility(job.company.name)>
							<span class="moreless">more</span>
							<h2>{{job.title}}</h2>
							<h3>{{job.company.name}}<small> {{job.started}} - {{job.left}}</small></h3>
							<div class="job-details animate-show" ng-show="isVisible(job.company.name)">
								<div class="company-profile dont-squish-me">
									<h3>A little about {{job.company.name}}:</h3>
									<p>{{job.company.about}}</p>
								</div>
								<div>
									<h3>Stack:</h3>
									<p>{{job.stack}}</p>
								</div>
								<div>
									<h3>What I Worked On:</h3>
									<p>{{job.details}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Dev Lead</h2>
						<h3>MediaSilo<small> March 2013 - Now</small></h3>
						<div class="job-details">
							<div class="company-profile dont-squish-me">
								<h3>A little about MediaSilo:</h3>
								<p><a href="http://www.mediasilo.com/">MediaSilo</a> is about collaborating on media. It stores and manages video for the largest production companies on the planet: Viacom, NBC, and Oprah!. And loads more where they came from.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>PHP; Java SE; Apache; MySQL; Mongo; *nix; Backbone; Saas; Bamboo; git</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>When I came on board, MediaSilo was a team of 7 and they have increased that to 15 since then. They are making a strong run at the market and there are loads of opportunities to build products to support it. Lot's of the work I've done here has been greenfields dev. </p>
								<p>I lead the dev team here. We've been busy. We've written a couple web apps with half a dozen more on the burner. We've also written a public REST API which we consume ourselves to keep us honest.</p>

								<p>Our backend dev consists of a lot of Java and PHP. Our primary DB's are MySQL and MongoDB and we are currently branching towards ElasticSearch to support our API <em>(which was just released to <a href="http://www.elasticsearch.org/blog/1-0-0-released/">version 1</a>, by the way)</em>.</p>
								<p>Our front end stack includes Saas-Bootstrap, jQuery, Modernizer, Backbone.JS, grunt, jasmine, and Require.JS.</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Senior Developer and Team Lead</h2>
						<h3>Karmaloop.com<small> Nov 2013 - March 2013</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about Karmaloop:</h4>
								<p><a href="http://www.karmaloop.com/">Karmaloop</a> is an online retailer of "Street Wear". I didn't know what street wear was before karmaloop showed me the light. Now I'm wicked hip. :). They sell lots of clothes. 200M worth last year.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>C# .Net; SQL Server; Entity Framework; Unity; jQuery; Mustache; git;</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>I was a dveloper on the core product, Karmaloop.com. Karmaloop.com is a multi-tenant site that supports 5 e-commerce sites in total: MissKL.com, BrickHarbor.com, Boylston Trading Co., Kazbah.com, and Karmaloop.com. From a backend perspective supporting multipl e-commerce sites made total sense. They all had overlapping functionality: browse, search, product details, cart, payment. So, supporting them all with a single back end made sense. For the front end Mustache and Razor came in handy. We had a core set of templates and styles that were overriden in cases where the UX needed to be different. </p>

								<p>This was an awesome company to work for. It really was. They had an awesome culture. I miss them.</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Senior Developer</h2>
						<h3>FirstGiving.com<small> Nov 2011 - Nov 2013</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about FirstGiving:</h4>
								<p><a href="http://www.firstgiving.com/">FirstGiving</a> is a crowdsourced fundraising platform. They help non profit organizations get the money they need by giving fundraisers and donors a place to help them.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>C# .Net, PHP, Backbone, Handlebars, Require, Saas, jQuery, SQL Server, MongoDB, RavenDB, IIS, AppFabric; git</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>This company has been a dream. They have a great dev shop culture; are constantly developing; and have a mission worth following: increase giving in the world.</p>

								<p>While at FirstGiving,I led a team responsible for developing and maintaining the core product, FirstGiving.com. FirstGiving.com is a .Net4, MVC3 application, which sits on a clustered SQL Server 2008 database. The site exposes its RESTful and SOAP APIs through WCF using AppFabric.</p>

								<p>In addition to core product development, secondary projects gave me the opportunity to work with RavenDB and MongoDB. We built a search application that would index all of the sites pages. We need blazing fast results so we turned to these document DBs.</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Developer</h2>
						<h3>Rezolve<small> Dec 2009 - Nov 2011</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about Rezolve:</h4>
								<p><a href="http://www.rezolvegroup.com/">Rezolve's</a> mission is to help students get the money they need for college. They have three core products: the College Net Cost Calculator; Student Aid: a financial aid engine; and a FAFSA preparation service.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>C#, ASP, SQL Server</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>I really enjoyed working on this tight knit team. The group of developers I joined here had been working together for years. This gave me some great exposure to seeing the value in a strong team. I learned a lot about good communication and what it looked like to lead a team.</p>

								<p>Primarily we worked on two products, StudentAid.com and FAFSA.com. While working here we redeveloped StudentAid.com entirely. The redevelopment took six strenuous months where we rewrote both the public facing website and the internal administrative application. During this project, I worked on a fun task where I wrote a collaborative algorithm which forcasted the total aid a student could expect based on comparitive financial and award data from millions of other applicants. As more data was collected the algorithm would produce more accurate forecasts.</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Database Engineer</h2>
						<h3>Sunovion<small> Sep 2009 - Dec 2009</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about Sunovion:</h4>
								<p><a href="http://www.Sunovion.com/">Sunovion</a> is a pharma company. Most people know them by the product Lunesta. It's the commercial with the lunar moth that looks like a nuclear butterfly glowing bright radioactive green.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>Oracle</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>This was a short role for me as I transitioned from NYC back to Massachusetts. I mainly worked on DB Ops installing and maintaining a few dozen oracle DBs</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Database Engineer</h2>
						<h3>JC Decaux<small> March 2009 - Sep 1009</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about JCDecaux:</h4>
								<p><a href="http://www.jcdecauxna.com/">JCDecaux</a> is an advertizing company that focuses on outdoor. Pretty much any advertising you see when you're not at home is something they are interested in. If you've spent anytime in Boston, you've seen JCDecaux's ad space.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>C#, Oracle; SQL Server</p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>This was an exciting opportunity where I learned about midtown New York advertising. The CTO gave the team a room with large windows that looked over lower Manahattan from the 33rd floor. What a cool experience.</p>

								<p>Here I was responsible for Oracle and SQL Server database administration as well as supporting development initiatives. Administration tasks included installation; configuration; database backup; recovery testing; index management; monitoring; performance management; and query tuning. Development tasks primarily involved developing procedural SQL and schema design.</p>
							</div>
						</div>
					</div>
					<div class="job lil-bit-o-padding">
						<span class="moreless">more</span>
						<h2>Software Engineer</h2>
						<h3>Fidelity Investment<small> Nov 2006 - March 2009</small></h3>
						<div class="job-details">
							<div class="company-profile">
								<h4>A little about Fidelity:</h4>
								<p><a href="http://www.fidelity.com/">Fidelity</a> is an investment and human resources company.They have a big focus on retirement planning.</p>
							</div>
							<div class="tech">
								<h3>Stack:</h3>
								<p>PHP; Java EE; Apache; Oracle; Mongo; Windows; Suse Linux;/p>
							</div>
							<div class="job-profile">
								<h3>What I Worked On:</h3>

								<p>This was the start of my career where I gained mentorship from some great engineers and managers. These people were experts and I'm grateful for them showing me the ropes.</p>

								<p>This is where I got my first glimpse of working on a well oiled dev team. We developed and supported several internal applications used by the company. Applications were J2EE and PHP running on Apache and Tomcat. I was also responsible for working with the business to develop and bug fix the Workflow Tracker, and internal process flow management application.</p>
							</div>
						</div>
					</div>
				</div>
			<div class="section-divider">
				<img data-interchange="[img/bird-2.png, (default)], [img/bird-2.png, (large)], [img/bird-2.png, (small)]">
			</div>
			<a id="learning"></a>
			<div class="lil-bit-o-padding resume">
				
				<h1>Learning</h1>
				<div class="lil-bit-o-padding">
					<h2>Formal Education</h2>
					<p><h3>Northeastern University</h3><h3><small>Bachelor of Science Information Technology</small></h3><p/>
					<p><h3>Eastern University</h3><h3><small>Studies in Theology</small></h3></p>
					<h2>Practical Leanring</h2>
					<p>For me the best learning has come from experience and asking questions of the smart poeple I've been lucky to work with. Oh, and Google.</p>
					<p>Here are some people that have schooled me over the years:</p>
					<p><h3>Vlad Kriger</h3><h3><small>School of programming in the real world: 101</small></h3></p>
					<p><h3>Bruce Lindsay</h3><h3><small>The art of cranking out code: Put you head phones on and your hands on the keyboard</small></h3></p>
					<p><h3>Eric McCormack</h3><h3><small>Leadership: How being crass and loud builds relationships</small></h3></p>

				</div>
			</div>
			<div class="section-divider big-boy">
				<img data-interchange="[img/bird-2.png, (default)], [img/bird-2.png, (large)], [img/bird-2.png, (small)]">
			</div>
			</div>
		</div>
			

	    <script src="js/vendor/jquery.js"></script>
	    <script src="js/foundation.min.js"></script>
	    <script>
	      	$(document).foundation();






			  $('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
			  });
	    </script>

	</body>
</html>